<span class="sr-only">Social:</span>
<!--<ul>-->
<!--  {% for link in include.social %}-->
<!--    {% include social-list-item.html platform=link.first username=link.last %}-->
<!--  {% endfor %}-->
<!--</ul>-->
<ul>
  <li>
    <a href="https://jaeseongdev.notion.site/JSCODE-6367829d186d4f9ea9c4bb9b0b7685e1">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a href="https://enterprise.jscode.kr">
      <i class="fa fa-building-o" aria-hidden="true"></i>
    </a>
  </li>
</ul>