---
layout: base
---

{% assign author = site.data.authors[page.author] | default:site.data.authors.first[1] %}

<article class="page" role="article">

  <h1 class="page-title hr" style="padding-bottom:1rem">{{ page.title }}</h1>

  <div class="author-body">
    {% if site.logo-black %}
      {% include srcset-img.html class="me" img=site.logo-black alt='logo' %}
    {% endif %}
    <div class="author-body-description" style="margin-bottom:10px;">
      <div class="about-author-name">
        JSCODE
      </div>
      최상위 현업 개발자들의 프로그래밍 교육 및 컨설팅, 파트너십
    </div>
  </div>
  <div class="markdown-body">
    {{ content }}
  </div>
</article>
